@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html ,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
main{
    position: relative;
    height: 100vh;
    background: url("./pacote-d013/imagens/fundo-madeira.jpg") no-repeat center top;
    background-attachment: fixed; /*Para não ter rolagem*/
    background-size: auto;
}
#telefone{
    position: absolute;
    width: 311px;
    height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* usar pra ajudar a centralizar a imagem*/
    background: url("./pacote-d013/imagens/frame-iphone.png") no-repeat;
}
#tela{
    position: relative;
    top: 13%;
    left: 7%;
    width: 269px;
    height: 471px;
}
#rede-social{
    text-align: right;
}
#rede-social img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.548);
}
#rede-social img:hover{
    border: 2px solid white;
    transform: translate(-5px,-5px);
}